<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input type="text" (keyup)="buscarMedico(input.value)" class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando..</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>

    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">

                    <button type="button" [routerLink]="['/medico', 'nuevo']" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Medico
                    </button>

                </div>


                <h3 class="card-title"> Medicos Registrados (<small>{{ _medicoService.total }}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Medico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td class="w70">
                                <img alt="" [src]="medico.img | imagen: 'medico'" class="img-50 ">
                            </td>
                            <td>
                                {{medico.nombre}}
                            </td>
                            <td> {{ medico.hospital.nombre }}</td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">
                              <i class="fa fa-edit"></i>
                            </button>
                                <button class="btn btn-danger" (click)="borrarMedico( medico )">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <button [disabled]="!previus" class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
                <button [disabled]="!next" class="btn btn-secondary" (click)="cambiarDesde(5)">Seguientes</button>

            </div>
        </div>
    </div>
</div>